####################################################
#Base créer pour Anthony IT Solutions par teddaye28#
####################################################
# Activer des gestionnaires d��v�nements et des fonctions sp�cifiques (pris en charge : ox, esx, qb, nd)
setr inventory:framework "esx"
 
### Client
setr inventory:target true

# Nombre de slots pour les inventaires des joueurs
setr inventory:slots 60

# Capacité de port maximum pour les joueurs, en grammes (les cadres peuvent desservir cela)
setr inventory:weight 50000

# Nombre de créneaux pour les inventaires de dépôt
setr inventory:dropslots 60

# Maximum drop capacity, in grams
setr inventory:dropweight 50000

# Emplois avec accès à l'armurerie de la police, aux coffres de preuves, etc.
setr inventory:police ["police", "ranger"]

# The URL to load item images from
setr inventory:imagepath "nui://ox_inventory/web/images"

# Alterner les animations de sortie/rangement de l'arme
setr inventory:weaponanims true

# Les armes se rechargeront après avoir atteint 0 munitions
setr inventory:autoreload false

# Les armes doivent être visées avant de tirer.
setr inventory:aimedfiring true

# Afficher une liste de tous les joueurs à proximité lors de l'attribution d'articles.
setr inventory:giveplayerlist false
 
# D�sactiver les marqueurs de chute et faire appara�tre un accessoire � la place
setr inventory:dropprops true
 
# D�finir le mod�le par d�faut utilis� pour les h�lices de chute
setr inventory:dropmodel "prop_med_bag_01b"
 
### Server
 
# Comparer la version actuelle � la derni�re version sur GitHub
set inventory:versioncheck false
 
# Url du webhook Discord, utilis� pour la mod�ration du contenu des m�tadonn�es imageurl (int�gration d�images)
set inventory:webhook "https://discord.com/api/webhooks/"

# Les prix des articles fluctuent dans les magasins.
set inventory:randomprices false


# Définir le contenu des inventaires générés aléatoirement
# [nom de l'objet, minimum, maximum, chance de butin]
set inventory:vehicleloot [
    ["cola", 0, 0],
    ["water", 0, 0],
    ["garbage", 0, 0, 0],
    ["panties", 0, 0, 0],
    ["money", 0, 0],
    ["money", 0, 0, 0],
    ["bandage", 0, 0]
]
 
set inventory:dumpsterloot [
    ["mustard", 0, 0],
    ["garbage", 0, 0],
    ["money", 0, 0],
    ["burger", 0, 0]
]

# Configurer les éléments à synchroniser avec les comptes du cadre
set inventory:accounts ["money"]

####################################################
#Base créer pour Anthony IT Solutions par teddaye28#
####################################################