########################################################
#Base créer pour anthony-it-solutions.fr par teddaye28 #
########################################################

endpoint_add_tcp "0.0.0.0:achangé"
endpoint_add_udp "0.0.0.0:achangé"

# Set Tags
sets tags "anthony-it-solutions.fr, https://discord.gg/RebuJNAaEV, official"

# Optional Editable Settings
# --------------------------
# You may edit the following:

set steam_webApiKey achangé
sv_licenseKey "achangé"
sv_hostname "Anthony IT Solutions"
sets sv_projectName "Anthony IT Solutions"
sets sv_projectDesc "Base crée pour Anthony IT Solutions https://discord.gg/RebuJNAaEV"
set mysql_connection_string "server=achangé;database=achangé;userid=achangé;password=achangé"
# set onesync on
sets "‍Discord ""‍💜 Vous trouverez notre serveur discord juste ici -> https://discord.gg/RebuJNAaEV"
sv_maxclients 64

load_server_icon "logo2.png"

##-----------------------------##
##        ADMINISTRATION       ##
##-----------------------------##
add_ace group.admin command allow
add_ace group.admin command.quit deny

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

add_ace identifier.discord:achangé lockdown.bypass allow

add_principal identifier.license:achangé group.admin
add_principal identifier.license:achangé group.admin
add_principal identifier.fivem:achangé group.admin

setr sv_stateBagStrictMode false
# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
setr esx:locale "fr"

# Base
ensure spawnmanager
ensure sessionmanager
# Database
ensure oxmysql
# Librairies essentielles
ensure ox_lib
# Framework ESX
ensure es_extended
# OX Ecosystem
ensure ox_target
ensure ox_inventory
# Apparence
ensure illenium-appearance
# Ton framework (numéroté)
ensure [3.core]
ensure [4.ox-core]
ensure [5.job]
ensure [6.illegale]
ensure [7.script]
# Standalone
ensure okokChat
ensure hardcap
ensure bob74_ipl
ensure [8.standalone]
# Maps
ensure [9.map]
# Voice
ensure pma-voice

exec ox.cfg

########################################################
#Base créer pour anthony-it-solutions.fr par teddaye28 #
########################################################
